$dark-blue: #323861;
$darker-blue: #222647;
$hilight-color: rgb(255, 177, 8);
$hilight-dark: rgb(212, 148, 9);
$white: white;
$light-grey: rgb(183, 183, 183);
$light-black: rgb(62, 62, 62);
$dark-white: rgba(244, 244, 244, 0.552);

footer {
  p {
    line-height: 2em;
  }
  .link {
    margin-bottom: 1em !important;
    color: pink;
  }

  a {
    text-decoration: none;
    color: $dark-blue;

    &:hover {
      color: $hilight-color;
    }
  }
}
