* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

@font-face {
  font-family: "Didot Medium";
  src: url(fonts/Didot\ Medium.ttf);
}

img {
  height: 100%;
  border-radius: 20px;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: $grey;
  font-family: "Roboto", sans-serif;
  line-height: 1.7em;
}

.small {
  font-size: 16px;
  color: $grey;
  font-weight: 500;
}

.larger {
  font-size: 20px;
  line-height: 1.35em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1em;
  font-family: "Didot Medium", serif;
  text-transform: uppercase;
}

h2 {
  padding-bottom: 0.27em;
  font-size: 62px;
  font-weight: 400;
  color: $dark-blue;
  letter-spacing: -5px;
  line-height: 1em;
}

h3 {
  font-size: 27px;
  font-weight: 900;
  line-height: 2em;
  color: $light-black;
  font-family: "Didot Medium";
}

h4 {
  font-size: 20px;
  font-weight: 900;
  line-height: 2em;
  color: $white;
}

h5 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: $dark-blue;
  padding-bottom: 0.27em;
  line-height: 1em;
}

@media (min-width: 900px) {
  .container {
    padding: 2rem;
  }

  p {
    font-size: 20px;
  }

  .small {
    font-size: 0.85rem;
  }

  .larger {
    font-size: 27px;
    line-height: 1.35em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }

  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 62px;
  }

  h3 {
    font-size: 27px;
  }
}

button {
  display: inline-block;
  background-color: $hilight-color;
  border: none;
  border-radius: 0.3rem;
  color: #222647;
  font-size: 16px;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  transition: 1s;
  font-weight: 600;
  cursor: pointer;

  i {
    padding-left: 1em;
  }

  &:hover {
    background-color: $hilight-dark;
  }
}

.secondary-bttn {
  background-color: rgb(251, 233, 193);
}
