* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

@font-face {
  font-family: "Didot Medium";
  src: url(fonts/Didot\ Medium.ttf);
}
.second-section {
  margin: 2em 0;
}
.second-section img {
  border-radius: 20px;
  width: 100%;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: #515969;
  font-family: "Roboto", sans-serif;
  line-height: 1.7em;
}

.small {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.885);
  font-weight: 500;
}

.larger {
  font-size: 20px;
  line-height: 1.35em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1em;
  font-family: "Didot Medium", serif;
  text-transform: uppercase;
}

h2 {
  padding-bottom: 0.27em;
  font-size: 62px;
  font-weight: 700;
  color: #323861;
  letter-spacing: -5px;
  line-height: 1em;
}

h3 {
  font-size: 27px;
  font-weight: 900;
  line-height: 2em;
  letter-spacing: -2px;
  color: rgb(62, 62, 62);
}

h4 {
  font-size: 20px;
  font-weight: 900;
  line-height: 2em;
  color: white;
}

h5 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: #323861;
  padding-bottom: 0.27em;
  line-height: 1em;
}

@media (min-width: 900px) {
  .container {
    padding: 2rem;
  }

  p {
    font-size: 20px;
  }

  .small {
    font-size: 17.5px;
    line-height: 1.35em;
  }

  .larger {
    font-size: 27px;
    line-height: 1.35em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }

  h1 {
    font-size: 140px;
  }

  h2 {
    font-size: 62px;
  }

  h3 {
    font-size: 27px;
  }
}
button {
  display: inline-block;
  background-color: rgb(255, 177, 8);
  border: none;
  border-radius: 0.3rem;
  color: #222647;
  font-size: 19px;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  transition: 1s;
  font-weight: 700;
  cursor: pointer;
}
button i {
  padding-left: 1em;
}
button:hover {
  background-color: rgb(212, 148, 9);
}

.secondary-bttn {
  background-color: rgb(251, 233, 193);
}

.text-js {
  opacity: 0;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.headline {
  margin: 20px;
  font-size: 32px;
  text-align: center;
}
.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 300;
}

.credit {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
}

body > #header {
  position: fixed;
}

.animatable2 {
  /* initially hide animatable2 objects */
  visibility: hidden;
  /* initially pause animatable2 objects their animations */
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated2 */
.animated2 {
  visibility: visible;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
.animated2.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
}

.animatable {
  /* initially hide animatable objects */
  visibility: hidden;
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes fadeInUpSlow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes fadeInUpSlow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
.animated.fadeInUpSlow {
  -webkit-animation-name: fadeInUpSlow;
  animation-name: fadeInUpSlow;
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animated.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    -webkit-transform: translateX(-20px);
  }
  80% {
    -webkit-transform: translateX(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animated.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.animatable {
  /* initially hide animatable objects */
  visibility: hidden;
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes fadeInUpSlow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUpSlow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
.animated.fadeInUpSlow {
  -webkit-animation-name: fadeInUpSlow;
  animation-name: fadeInUpSlow;
}

.animatable {
  /* initially hide animatable objects */
  visibility: hidden;
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

/* CSS Animations (extracted from http://glifo.uiparade.com/) */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    -webkit-transform: translateX(20px);
  }
  80% {
    -webkit-transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    -webkit-transform: translateX(-20px);
  }
  80% {
    -webkit-transform: translateX(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes moveUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeBgColor {
  0% {
    background: none;
  }
  70% {
    background: none;
  }
  100% {
    background: #464646;
  }
}
@keyframes fadeBgColor {
  0% {
    background: none;
  }
  70% {
    background: none;
  }
  100% {
    background: #464646;
  }
}
.animated.animationDelay {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.animated.animationDelayMed {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

.animated.animationDelayLong {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}

.animated.fadeBgColor {
  -webkit-animation-name: fadeBgColor;
  animation-name: fadeBgColor;
}

.animated.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.animated.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.animated.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.animated.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated.moveUp {
  -webkit-animation-name: moveUp;
  animation-name: moveUp;
}

.text-js {
  opacity: 0;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.headline {
  margin: 20px;
  font-size: 32px;
  text-align: center;
}
.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 300;
}

.credit {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
}

body > #header {
  position: fixed;
}

#header {
  position: fixed;
  z-index: 9000;
  overflow: auto;
  transition: all 0.15s linear;
  overflow: hidden;
  width: 100%;
  padding: 0.6rem 2rem;
  background-color: #fff;
}

.header-image {
  background-image: url("../lapis-logo.png");
  width: 170px;
  height: 50px;
  background-size: cover;
}

#header.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background: white;
}
#header.active .header-image {
  background-image: url("../lapis-logo.png");
}
#header.active__links a {
  color: #323861;
  font-weight: 900;
}

body {
  overflow-x: hidden;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.statistics {
  background-color: #323861;
  color: white;
  padding: 3em 0;
}
.statistics__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.statistics__section p {
  margin-top: 1rem;
  color: rgb(199, 201, 217);
}
.statistics__number {
  background-color: #464b6d;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 45px;
}

.home-header p {
  color: white;
  font-size: 25px !important;
}

.hero {
  background-image: url("../adults.jpg");
  background-size: cover;
  background-color: #323861;
  color: white;
}
.hero p {
  font-size: 22px;
  font-weight: 300;
}
.hero__overlay {
  background-color: rgba(50, 56, 97, 0.9411764706);
  padding: 5rem;
  padding-top: 8em;
}
.hero__title {
  position: relative;
  min-height: 100px;
}
.hero__title h1 {
  margin: 0;
  padding: 0;
}

.header {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.header__links {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row !important;
  margin-right: 1.5em;
}
.header__links li {
  list-style-type: none;
  margin-left: 2em;
  font-size: 18px;
}
.header__links li:last-of-type {
  background-color: #323861;
  padding: 0.5em 1em;
  border-radius: 5px;
}
.header__links li:last-of-type a {
  color: white;
}
.header__links a {
  text-decoration: none;
  color: #323861;
  font-weight: 900;
  transition: 1s;
  text-decoration: none;
}
.header__links a:hover {
  color: rgb(255, 177, 8);
}

.overflow {
  overflow: hidden;
}

.blog h2 {
  padding-top: 1.25em;
  padding-bottom: 0.8em;
}
.blog .small {
  padding-top: 1.1em;
}
.blog h4 {
  margin-bottom: 0.85em;
  margin-top: 0em;
}
.blog img {
  border-radius: 6px;
}
.blog span a {
  color: rgb(255, 177, 8);
  text-decoration: none;
  font-weight: 600;
}

.home-header {
  background-color: #323861;
  color: white;
}
.home-header p {
  color: white;
}

.slim-banner {
  background: #323861;
  padding: 2.7em 0;
}
.slim-banner h2 {
  color: white;
}
.slim-banner p {
  color: rgb(206, 206, 206);
}
.slim-banner button {
  background-color: white;
}
.slim-banner button:hover {
  background-color: rgb(206, 206, 206);
}

.slider-container {
  background-color: rgba(236, 237, 243, 0.8588235294);
  padding: 7em 0;
  padding-bottom: 10em;
}
@media (min-width: 768px) {
  .slider-container .container-right {
    margin-right: 0;
    margin-left: calc(50vw - 375px);
  }
}
@media (min-width: 992px) {
  .slider-container .container-right {
    margin-right: 0;
    margin-left: calc(50vw - 485px);
  }
}
@media (min-width: 1200px) {
  .slider-container .container-right {
    margin-right: 0;
    margin-left: calc(50vw - 590px);
  }
}
.slider-container__overlay {
  background-color: rgba(53, 6, 6, 0.8);
  margin: 1rem;
  border-radius: 10px;
}
.slider-container__details {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.26);
  padding: 3rem;
  padding-top: 6rem;
  min-height: 420px;
  width: 550px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
}
.slider-container__details img {
  opacity: 0.05;
  width: 200px;
  position: absolute;
  top: 50px;
  left: 20px;
}
.slider-container__details p {
  color: rgb(62, 62, 62);
}
.slider-container__details .title p {
  font-weight: 700;
  color: #323861;
}
.slider-container__subtitle {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #323861;
  font-size: 40px;
  line-height: 1.6em;
}

.six-images img {
  border-radius: 14px;
  width: 100%;
}

.features {
  padding: 0em 0;
  margin-top: -260px;
}
.features .watermark {
  position: relative;
  font-size: 300px;
  font-weight: 900;
  overflow: hidden;
  color: #f0f0f0;
  white-space: nowrap !important;
  z-index: -222222 !important;
  top: 220px;
  left: -100px;
}
.features .h2 {
  color: #515969;
}
.features .col {
  padding-bottom: 6em;
}

.mission {
  text-align: center;
  background-color: rgba(236, 237, 243, 0.8588235294);
  padding: 3em 0;
  padding-top: 8em;
}

.CTA-banner {
  background-color: #323861;
  padding: 3rem 0;
  text-align: center;
}
.CTA-banner h2 {
  margin-bottom: 0.3em;
}
.CTA-banner h2,
.CTA-banner p {
  color: white;
}

.CTA-thin-banner {
  background-color: #323861;
  color: white;
  padding: 2em 0;
}
.CTA-thin-banner button {
  background-color: white;
  color: #323861;
}
.CTA-thin-banner h2 {
  color: white;
  font-size: 45px;
  letter-spacing: -2px;
}
.CTA-thin-banner p {
  color: white;
  font-family: "Work Sans", sans-serif;
}

.overlay {
  background-color: rgba(11, 25, 27, 0.872);
  width: 100%;
  height: 400%;
  position: absolute;
  transition: 1s ease-in-out;
  z-index: 39;
}

.jq-open-menu {
  overflow-x: hidden;
  transform: translateX(0);
  height: 100%;
  /* z-index: 39; */
}

.slider-container__arrows {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.prev,
.next {
  border-radius: 50%;
  padding: 1.5rem;
  margin-left: 10px;
  border: 2px solid #878db4;
  width: 50px;
  height: 50px;
  font-weight: lighter;
  display: inline-block;
  color: #323861;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #878db4;
}
.prev:hover,
.next:hover {
  background-color: #878db4;
  color: white;
}

.slider .slick-active + .slick-active .slider-container__details {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
}

.slider .slick-active + .slick-active + .slick-slide .slider-container__details {
  opacity: 0.4 !important;
  background-color: white !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.auto-slider-container {
  padding-bottom: 7em;
  background-color: rgba(236, 237, 243, 0.8588235294);
}

.item img {
  max-width: 300px;
}

footer {
  padding-top: 6rem;
  background-color: #323861;
  color: rgb(185, 185, 185);
  font-family: "Raleway", sans-serif;
  padding-bottom: 1rem;
}
footer img {
  width: 230px;
  padding-bottom: 0.5em;
}
footer p {
  color: rgb(185, 185, 185);
}
footer .link {
  margin-bottom: 0.65em;
  margin-top: 0.3em;
}
footer .info {
  color: rgba(255, 255, 255, 0.885);
  line-height: 1.35;
}
footer a {
  color: rgb(185, 185, 185);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
footer .p {
  margin-bottom: 2rem;
}
footer .p2 {
  margin-bottom: 4rem;
}
@media (max-width: 500px) {
  footer {
    padding-top: 6rem;
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .slick-list {
    padding: 0 20% 0 0 !important;
  }
}/*# sourceMappingURL=index.css.map */