$dark-blue: #323861;
$mid-blue: #878db4;

$darker-blue: #464b6d;
$hilight-color: rgb(255, 177, 8);
$hilight-dark: rgb(212, 148, 9);
$light-blue: #ecedf3db;
$grey: #515969;
$white: white;
$light-black: rgb(62, 62, 62);
$dark-white: rgb(206, 206, 206);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

@font-face {
  font-family: "Didot Medium";
  src: url(fonts/Didot\ Medium.ttf);
}

.second-section {
  margin: 2em 0;
  img {
    border-radius: 20px;
    width: 100%;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  color: $grey;
  font-family: "Roboto", sans-serif;
  line-height: 1.7em;
}

.small {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.885);
  font-weight: 500;
}

.larger {
  font-size: 20px;
  line-height: 1.35em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1em;
  font-family: "Didot Medium", serif;
  text-transform: uppercase;
}

h2 {
  padding-bottom: 0.27em;
  font-size: 62px;
  font-weight: 700;
  color: $dark-blue;
  letter-spacing: -5px;
  line-height: 1em;
}

h3 {
  font-size: 27px;
  font-weight: 900;
  line-height: 2em;
  letter-spacing: -2px;

  color: $light-black;
}

h4 {
  font-size: 20px;
  font-weight: 900;
  line-height: 2em;
  color: $white;
}

h5 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: $dark-blue;
  padding-bottom: 0.27em;
  line-height: 1em;
}

@media (min-width: 900px) {
  .container {
    padding: 2rem;
  }

  p {
    font-size: 20px;
  }

  .small {
    font-size: 17.5px;
    line-height: 1.35em;
  }

  .larger {
    font-size: 27px;
    line-height: 1.35em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }

  h1 {
    font-size: 140px;
  }

  h2 {
    font-size: 62px;
  }

  h3 {
    font-size: 27px;
  }
}

button {
  display: inline-block;
  background-color: $hilight-color;
  border: none;
  border-radius: 0.3rem;
  color: #222647;
  font-size: 23px;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  transition: 1s;
  font-weight: 700;
  cursor: pointer;

  i {
    padding-left: 1em;
  }

  &:hover {
    background-color: $hilight-dark;
  }
}

.secondary-bttn {
  background-color: rgb(251, 233, 193);
}

.text-js {
  opacity: 0;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.headline {
  margin: 20px;
  font-size: 32px;
  text-align: center;
  h1 {
    letter-spacing: 1.6px;
    font-weight: 300;
  }
}

.credit {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
}

body > #header {
  position: fixed;
}

@import "animations.scss";
@import "pages.scss";

.text-js {
  opacity: 0;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.headline {
  margin: 20px;
  font-size: 32px;
  text-align: center;
  h1 {
    letter-spacing: 1.6px;
    font-weight: 300;
  }
}

.credit {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
}

body > #header {
  position: fixed;
}

#header {
  position: fixed;
  z-index: 9000;
  overflow: auto;
  transition: all 0.15s linear;
  overflow: hidden;
  width: 100%;
  padding: 0.6rem 2rem;
  background-color: #fff;
}

.header-image {
  background-image: url("../lapis-logo.png");
  width: 170px;
  height: 50px;
  background-size: cover;
}

#header.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background: white;
  .header-image {
    background-image: url("../lapis-logo.png");
  }
  &__links {
    a {
      color: $dark-blue;
      font-weight: 900;
      // font-size: 60px;
    }
  }
}

body {
  overflow-x: hidden;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.statistics {
  background-color: $dark-blue;
  color: white;
  padding: 3em 0;

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    p {
      margin-top: 1rem;
      color: rgb(199, 201, 217);
    }
  }
  &__number {
    background-color: $darker-blue;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    font-size: 45px;
  }
}

.home-header {
  p {
    color: $white;
    font-size: 28px !important;
    margin-bottom: 2rem !important;

    // line-height: 1.1em;
    // button {
    //   margin-top: 5rem !important;
    // }
  }
}

.hero {
  background-image: url("../adults.jpg");
  background-size: cover;
  background-color: $dark-blue;
  color: white;
  p {
    font-size: 22px;
    font-weight: 300;
  }

  &__overlay {
    background-color: #323861f0;
    padding: 5rem;
    padding-top: 8em;
  }

  &__title {
    position: relative;
    min-height: 100px;

    h1 {
      margin: 0;
      padding: 0;
    }
  }
}

.header {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  position: fixed;
  width: 100%;
  z-index: 99999;

  &__links {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row !important;
    margin-right: 1.5em;

    li {
      list-style-type: none;
      margin-left: 2em;
      font-size: 18px;
      &:last-of-type {
        background-color: $dark-blue;
        padding: 0.5em 1em;
        border-radius: 5px;
        a {
          color: $white;
        }
      }
    }
    a {
      text-decoration: none;
      color: $dark-blue;
      font-weight: 900;
      transition: 1s;
      text-decoration: none;

      &:hover {
        color: $hilight-color;
      }
    }
  }
}

.overflow {
  overflow: hidden;
}

// blog

.blog {
  h2 {
    padding-top: 1.25em;
    padding-bottom: 0.8em;
  }

  .small {
    padding-top: 1.1em;
  }

  h4 {
    margin-bottom: 0.85em;
    margin-top: 0em;
  }

  img {
    border-radius: 6px;
  }
  span a {
    color: $hilight-color;
    text-decoration: none;
    font-weight: 600;
  }
}

.home-header {
  background-color: $dark-blue;
  color: white;
  p {
    color: $white;
  }
}

//slim-banner

.slim-banner {
  background: $dark-blue;
  padding: 2.7em 0;
  h2 {
    color: $white;
  }
  p {
    color: $dark-white;
  }
  button {
    background-color: white;
    &:hover {
      background-color: $dark-white;
    }
  }
}

// slider

.slider-container {
  background-color: $light-blue;
  padding: 7em 0;
  padding-bottom: 10em;
  @media (min-width: 768px) {
    .container-right {
      margin-right: 0;
      margin-left: calc(50vw - 375px);
    }
  }

  @media (min-width: 992px) {
    .container-right {
      margin-right: 0;
      margin-left: calc(50vw - 485px);
    }
  }

  @media (min-width: 1200px) {
    .container-right {
      margin-right: 0;
      margin-left: calc(50vw - 590px);
    }
  }

  &__overlay {
    background-color: rgba(53, 6, 6, 0.8);
    margin: 1rem;
    border-radius: 10px;
  }

  &__details {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.26);
    padding: 3rem;
    padding-top: 6rem;
    min-height: 420px;
    width: 550px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;

    img {
      opacity: 0.05;
      width: 200px;
      position: absolute;
      top: 50px;
      left: 20px;
    }

    p {
      color: $light-black;
    }

    .title {
      p {
        font-weight: 700;
        color: $dark-blue;
      }
    }

    // p {
    //   font-weight: 400;
    // }
  }

  &__subtitle {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: $dark-blue;
    font-size: 40px;
    line-height: 1.6em;
  }
}

// six images

.six-images {
  img {
    border-radius: 14px;
    width: 100%;
    // margin: 1rem;
  }
}

.features {
  padding: 0em 0;
  margin-top: -260px;

  .watermark {
    position: relative;
    font-size: 300px;
    font-weight: 900;
    overflow: hidden;
    color: #f0f0f0;
    white-space: nowrap !important;
    z-index: -222222 !important;
    top: 220px;
    left: -100px;
  }
  .h2 {
    color: $grey;
  }
  .col {
    padding-bottom: 6em;
  }
}

.mission {
  text-align: center;
  background-color: $light-blue;
  padding: 3em 0;
  padding-top: 8em;
}

.CTA-banner {
  background-color: $dark-blue;
  padding: 3rem 0;
  text-align: center;

  h2 {
    margin-bottom: 0.3em;
  }

  h2,
  p {
    color: white;
  }
}

// CTA-thin-banner

.CTA-thin-banner {
  background-color: $dark-blue;
  color: $white;
  padding: 2em 0;

  button {
    background-color: $white;
    color: $dark-blue;
  }

  h2 {
    color: white;
    font-size: 45px;
    letter-spacing: -2px;
  }

  p {
    color: $white;
    font-family: "Work Sans", sans-serif;
  }
}

.overlay {
  background-color: rgba(11, 25, 27, 0.872);
  width: 100%;
  height: 400%;
  position: absolute;
  transition: 1s ease-in-out;
  z-index: 39;
}

.jq-open-menu {
  overflow-x: hidden;
  transform: translateX(0);
  height: 100%;

  /* z-index: 39; */
}

.slider-container__arrows {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.prev,
.next {
  border-radius: 50%;
  padding: 1.5rem;
  margin-left: 10px;
  border: 2px solid $mid-blue;
  width: 50px;
  height: 50px;
  font-weight: lighter;
  display: inline-block;
  color: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $mid-blue;

  &:hover {
    background-color: $mid-blue;
    color: $white;
  }
}

.slider .slick-active + .slick-active .slider-container__details {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.12);
}

.slider
  .slick-active
  + .slick-active
  + .slick-slide
  .slider-container__details {
  opacity: 0.4 !important;
  background-color: white !important;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.05);
}

.auto-slider-container {
  padding-bottom: 7em;
  background-color: $light-blue;
}

.item {
  img {
    max-width: 300px;
  }
}

footer {
  padding-top: 6rem;
  background-color: $dark-blue;
  color: rgb(185, 185, 185);
  font-family: "Raleway", sans-serif;
  padding-bottom: 1rem;

  img {
    width: 230px;
    padding-bottom: 0.5em;
  }
  p {
    color: rgb(185, 185, 185);
  }
  .link {
    margin-bottom: 0.65em;
    margin-top: 0.3em;
  }

  .info {
    color: rgba(255, 255, 255, 0.885);
    line-height: 1.35;
  }

  a {
    color: rgb(185, 185, 185);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .p {
    margin-bottom: 2rem;
  }

  .p2 {
    margin-bottom: 4rem;
  }

  @media (max-width: 500px) {
    padding-top: 6rem;
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .slick-list {
    padding: 0 20% 0 0 !important;
  }
}
